<p>new-post-reactive works!</p>

<div class="row">
  <div class="col-md-6">
    <form (submit)="onFormSubmit()" [formGroup]="userFormGroup">

      Title:
      <input type="text" class="form-control" formControlName="title">
      <br />

      <span *ngIf="userFormGroup.controls['title'].invalid
           && userFormGroup.controls['title'].touched">
           <span *ngIf="userFormGroup.controls['title'].errors.required"> Title is required</span>
           <span *ngIf="userFormGroup.controls['title'].errors.minlength"> Title should have min 3 chars</span>
           <span *ngIf="userFormGroup.controls['title'].errors.maxlength"> Title can have max 15 chars</span>
           <span *ngIf="userFormGroup.controls['title'].errors.pattern">  Only alphabets and numbers are allowed</span>
      </span>
      <br />
      Body:
      <textarea class="form-control" formControlName="body"> </textarea>
      <br />

      UserId:
      <input type="text" class="form-control" formControlName="userId">
      <br />

      <input type="submit" [disabled]="!userFormGroup.valid" value="add post">
    </form>
  </div>

</div>
