<p>ngrx-demo</p>

<h2>All Courses</h2>
<div>
  <div class="row">
    <div class="col-md-6">
        <div *ngFor="let c of courses$ | async">
           {{c.id}} -- {{c.name}} -- {{c.departmentName}} <br />
        </div>
    </div>
  </div>
</div>
<hr />
<form #myForm="ngForm" (ngSubmit)="addCourse(myForm)">

  ID: <input type="text" name="id" ngModel>   <br /> <br />
  Name: <input type="text" name="name" ngModel>   <br /> <br />
  Department: <input type="text" name="departmentName" ngModel>   <br /> <br />
  <input type="submit" value="ADD COURSE">
</form>
