<h1>{{ post?.title}}</h1>

<p>{{post?.body}}</p>

<p>By User {{post?.userId}}</p>

<button (click)="openPopup()"> Edit Post</button>
<h3>Comments</h3>

<span *ngFor='let c of comments'>
    {{c.body}}
    <br />
    - {{c.name}} <br />
    - (email) {{c.email}}

    <hr />
</span>

<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Edit Post</h4>
    </div>
    <div class="modal-body" >

      <form (submit)="onFormSubmit()" [formGroup]="postForm">

        Title:
        <input type="text" class="form-control" formControlName="title" value={{post?.title}}>
        <br />

        Body:
        <textarea class="form-control" formControlName="body" value={{post?.body}} rows="10"  cols="10"> </textarea>
        <br />

        <input type="submit"  value="Edit post" class="btn btn-primary">

      </form>
</div>
    <div class="modal-footer">


      <button type="button" class="btn btn-danger"
              (click)="closePopup()">
        Close
      </button>
    </div>
  </div>
</div>
</div>


