
<div class="container-fluid">
  <div class="todo-content">
  <div class="row">
      <td class="col-md-6">
          <app-todo-list [list]="todo"></app-todo-list>
      </td>
      <td class="col-md-6">
          <div class="row">
            <div class="col-md-6">
                <app-todo-stat
                [numberOfTodos]="numberOfTodos"
                [completedTodos]="completedTodos"
                [pendingTodos]="pendingTodos">
              </app-todo-stat>
            </div>
            <div class="col-md-6">
                <app-todo-widget></app-todo-widget>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <app-todo-form></app-todo-form>
            </div>
          </div>
      </td>
  </div>
</div>
</div>
